# ignore files and file types:
*.pyc
*.pyd
*.SEC
*.log

# ignore directories:
__pycache__/
cache/
td/
build/
_build/
*.egg-info/
.eggs/

src/spectacoular/apps/measurement_app/data/
src/spectacoular/apps/measurement_app/metadata/

*/api_ref/generated/
*/auto_examples/*
docs/sg_execution_times.rst

tests/.hypothesis/*
.vscode/launch.json
.vscode/settings.json
