# ignore files and file types:
*.pyc
*.pyd

# ignore directories:
__pycache__/
cache/
td/

bokeh/Measurement_App/static/two_sources_one_moving_10s.h5
bokeh/Measurement_App/static/two_sources_one_moving_60s.h5

apps/Measurement_App/static/two_sources_one_moving_10s.h5

*.log
