{% extends base %}
{% block title %}Bokeh Msm Example{% endblock %}
{% block preamble %}
<style>
  a:link {
    color: green;
    }
  a:visited {
    color: green;
    }
  a:hover {
    color: white;
    }
  a:active {
    color: green;
    }
  @import url(https://fonts.googleapis.com/css?family=Noto+Sans);
  .slick-header-column {
    background-color: #2F2F2F !important;
    background-image: none !important;
    }
  .slick-row {
    background-color: #2F2F2F !important;
    background-image: none !important;
    color: white !important;
    overflow: hidden;
    }
  .bk-cell-index {
    background-color: #2F2F2F !important;
    background-image: none !important;
    color: white !important;
    }
  .slick-cell.selected {
    background-color: darkred !important;
    }
  body::-webkit-scrollbar {
   width: 8px;
  }
  body {
    font-family: "Noto Sans", sans-serif;    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    color: white;
    background: #2F2F2F;
    scrollbar-width: thin;
    scrollbar-color: white #2F2F2F;
    }
  body::-webkit-scrollbar-track {
    background: #2F2F2F
    }
  body::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 4px;
    border: 2px;
    }
</style>
{% endblock %}