{% extends base %}
{% block title %}Bokeh Msm Example{% endblock %}
{% block preamble %}
<style>
  @import url(https://fonts.googleapis.com/css?family=Noto+Sans);
  .slick-header-column {
    background-color: pink !important;
    background-image: none !important;
    }
  .slick-row {
    background-color: pink !important;
    background-image: none !important;
    color: white !important;
    overflow: hidden;
    }
  .bk-cell-index {
    background-color: pink !important;
    background-image: none !important;
    color: white !important;
    }
  .slick-cell.selected {
    background-color: darkred !important;
    }
  body {
    font-family: "Noto Sans", sans-serif;    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    color: #fff;
    background: pink;
    }
</style>
{% endblock %}